<!DOCTYPE html>
<html lang="en">
  <%- include("../layouts/header") -%>

  <body>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque corrupti
      ad, ea cumque, fuga nobis rem minima, necessitatibus at velit illo
      similique sapiente modi magnam quisquam deleniti? Necessitatibus,
      quibusdam commodi.
    </p>
  </body>

  <%- include("../layouts/footer") -%>
</html>
